.banner {
  position: relative;
  background-color: $color-lightest-gray;

  .banner-img {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 320px;

    @include respond-to-sp() {
      height: 240px;
    }
  }

  h1 {
    position: absolute;
    width: 100%;
    text-align: center;
    color: $color-white;
    font-size: 36px;
    font-weight: 500;
    top: 50%;
    transform: translateY(-50%);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    @include respond-to-sp() {
      font-size: 24px;
    }
  }
}
