.btn {
  appearance: none;
  background-color: $color-green;
  display: inline-block;
  color: $color-white;
  font-size: $font-size-base;
  font-weight: 500;
  min-width: 60px;
  padding: 8px 14px;
  border: 0;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color .2s ease-in-out;

  @include respond-to-sp() {
    font-size: $font-size-sm;
  }

  &:focus {
    outline: none;
  }

  &:hover {
    background-color: lighten($color-green, 5%);
    text-decoration: none;
  }

  &.btn-gray {
    background-color: $color-lighter-gray;
    color: $color-black;
    &:hover {
      background-color: lighten($color-lighter-gray, 5%);
    }
  }

  &.btn-block {
    width: 100%;
  }
}
