.build-list {
  li {
    padding: 10px 0;
    border-bottom: 1px solid $color-lighter-gray;
    word-break: word;

    &:first-child {
      padding-top: 0;
    }

    &:last-child {
      border-bottom: 0;
      padding-bottom: 0;
    }

    a {
      font-size: 14px;
      color: $color-black;
    }
  }
}

.building-list {
  li {
    position: relative;
    padding: 10px;
    border-radius: 4px;
    background-color: $color-lighter-gray;
    transition: all .2s ease-in-out;
    cursor: pointer;

    &.selected,
    &:hover {
      background-color: $color-blue;
      color: $color-white;
    }

    h3 {
      font-weight: 500;
      font-size: $font-size-sm;
    }
    p {
      margin-top: 5px;
      font-size: $font-size-xs;
      word-break: break-all;
    }

    + li {
      margin-top: 10px;
    }

    .build-close-btn {
      display: none;
      line-height: 1;
      position: absolute;
      right: 10px;
      top: 13px;

      &.open {
        display: block;
      }

      svg {
        width: 16px;
        height: 16px;
      }
    }
  }
}

.build-item {
  padding: 15px 0;
  border-bottom: 1px solid $color-lighter-gray;

  &:last-child {
    border-bottom: 0;
  }
}

.build-status {
  margin-top: 10px;
}

.build-label {
  display: inline-block;
  padding: 5px;
  background-color: $color-lighter-gray;
  border-radius: 4px;
  font-size: 12px;
  line-height: 1;
  margin-right: 5px;
  &:last-child {
    margin-right: 0;
  }
}

.build-options {
  flex-grow: 1;
  flex-shrink: 1;

  @include respond-to-tablet() {
    margin-bottom: 20px;
    flex-basis: 100%;
  }

  @include respond-to-sp() {
    margin-bottom: 10px;
  }

  li {
    label {
      margin-left: 8px;
      font-size: $font-size-sm;
      @include respond-to-sp() {
        font-size: $font-size-xs;
      }
    }
    + li {
      margin-top: 10px;
    }
  }
}

.build-detail {
  .title {
    margin-bottom: 0;
  }
  .build-spec {
    margin-bottom: 20px;
  }
  .build-info {
    margin-top: 5px;
    margin-bottom: 10px;

    .media-body {
      display: flex;
      align-items: center;
      form {
        display: inline-block;
        line-height: 1;
      }
    }
  }

  .build-description {
    font-size: $font-size-sm;
    margin-bottom: 15px;
  }
}

.view-more {
  margin-top: 10px;
  text-align: right;
  a {
    font-size: $font-size-xs;
    width: auto;
    padding: 5px 10px;
    &:after {
      content: '...';
    }
  }
}

.builder {
  display: block;
  position: fixed;
  right: 20px;
  bottom: 20px;
  cursor: pointer;
  line-height: 1;
  svg {
    color: $color-white;
    padding: 8px;
    width: 54px;
    height: 54px;
    background-color: $color-green;
    border-radius: 6px;
    transition: background-color .2s ease-in-out;
    &:hover {
      background-color: lighten($color-green, 5%);
    }
    @include respond-to-sp() {
      width: 48px;
      height: 48px;
    }
  }
  .builder-num {
    top: -10px;
    left: -10px;
    position: absolute;
    text-align: center;
    display: inline-block;
    background-color: $color-red;
    font-size: $font-size-sm;
    line-height: 25px;
    color: $color-white;
    width: 24px;
    height: 25px;
    border-radius: 50%;
    @include respond-to-sp() {
      width: 20px;
      height: 21px;
      line-height: 21px;
    }
  }
}

.building-list {
  .hardware-list {
    margin-top: 30px;
  }
  .building-list-btn {
    margin-top: 30px;
    text-align: center;
  }
}
