.comment {
  margin-top: 30px;
  padding-top: 30px;
  border-top: 1px solid $color-lighter-gray;
}

.comment-form {
  margin-bottom: 30px;
  .comment-submit {
    text-align: right;
    margin-top: 10px;
    .btn {
      font-size: $font-size-sm;
    }
  }

  .model-text-error {
    margin-top: 0;
  }
}

.comment-list {
  padding-top: 20px;
  border-top: 1px dashed $color-lighter-gray;
  .media + .media {
    margin-top: 15px;
  }
  .comment-content {
    font-size: 14px;
  }
}

.comment-item {
  .comment-info {
    display: flex;
    align-items: center;
  }

  .comment-content {
    margin-top: 5px;
  }

  .comment-btn {
    margin-top: 8px;
  }

  .media-body.editor-opened {
    .comment-content {
      display: none;
    }
  }
}
