.hardware-item {
  display: flex;
  padding: 15px 0;
  border-bottom: 1px solid $color-lighter-gray;

  &:last-child {
    border-bottom: 0;
  }

  .hardware-img {
    display: block;
    width: 70px;
    height: 60px;

    @include respond-to-tablet() {
      width: 130px;
      height: 100px;
    }
  }
  .hardware-body {
    margin: 0 15px;
    flex-grow: 1;
    flex-basis: 0;
  }

  a {
    &:hover {
      cursor: pointer;
    }
  }

  .hardware-name {
    font-size: $font-size-xs;
    @include respond-to-tablet() {
      font-size: $font-size-base;
    }
    margin-bottom: 5px;
    @include respond-to-sp() {
      line-height: 1.1;
    }
  }

  .hardware-price {
    color: $color-red;
  }

  .hardware-provider,
  .hardware-price {
    font-size: $font-size-xs;

    @include respond-to-tablet() {
      font-size: $font-size-sm;
    }
  }

  .btn {
    @include respond-to-sp() {
      min-width: 40px;
      padding: 6px 8px;
    }
  }
}

.hardware-search {
  margin-bottom: 40px;
  display: flex;

  @include respond-to-sp() {
    margin-bottom: 20px;
  }

  .hardware-search-input {
    flex-grow: 1;
  }
  .input {
    width: 100%;
    border-right: 0;
    border-radius: 4px 0 0 0;
  }
  .btn {
    width: 80px;
    border-left: 0;
    border-radius: 0 4px 4px 0;
    @include respond-to-sp() {
      width: 60px;
      font-size: $font-size-sm;
    }
  }
}
