textarea {
  width: 100%;
  resize: vertical;
}

input[type=file] {
  cursor: pointer;
}

.form {
  .form-group {
    + .form-group {
      margin-top: 20px;
    }

    .btn {
      min-width: 50px;
    }

    &.form-right {
      justify-content: flex-end;
    }
  }

  .form-label {
    display: block;
    font-weight: 500;
    line-height: 1;
    margin-bottom: 10px;
    img {
      width: 64px;
    }
  }

  .form-input {
    .single-text-error {
      margin-top: 5px;
      margin-bottom: 0;
      text-align: left;
    }
  }

  .input {
    width: 100%;
  }

  label {
    + input[type=radio] {
      margin-left: 15px;
    }

    input[type=radio] + & {
      margin-left: 5px;
    }
  }
}

.form-wrapper {
  width: 360px;
  margin: 0 auto;

  @include respond-to-sp() {
    width: 100%;
    padding: 0 10px;
  }

  .title {
    @include respond-to-sp() {
      margin-bottom: 20px;
    }
  }

  a {
    line-height: 1;
  }
}

.textarea,
.input {
  appearance: none;
  font-size: $font-size-sm;
  background-color: $color-white;
  padding: 8px 14px;
  border: 1px solid $color-lighter-gray;
  border-radius: 4px;
  transition: background-color .2s ease-in-out;
  &:focus,
  &:hover {
    background-color: lighten($color-lightest-gray, 5%);
    outline: none;
  }

  .box & {
    background-color: $color-lightest-gray;
  }
}
