.list {
  a {
    padding: 5px 0;
    font-weight: 500;
    font-size: $font-size-sm;
    color: $color-black;
    display: inline-block;
    &.active,
    &:hover {
      color: $color-green;
      text-decoration: none;
    }
  }
}
