.table-responsive {
  @include respond-to-sp() {
    overflow-x: auto;
    white-space: nowrap;
  }
}

.table {
  width: 100%;
  font-size: $font-size-sm;

  @include respond-to-sp() {
    font-size: $font-size-xs;
  }

  &.table-striped {
    > tbody > tr:nth-of-type(odd) {
      background: $color-white;
    }

    > tbody > tr:nth-of-type(even) {
      background: $color-almost-white;
    }
  }

  tbody > tr {
    border-bottom: 1px solid $color-lighter-gray;

    &:last-of-type {
      border-bottom: 0;
    }
  }

  th {
    font-weight: 500;
  }

  th,
  td {
    padding: 10px;
  }

  &.table-hardwares {
    .th-provider {
      @include respond-to-tablet() {
        width: 135px;
      }
    }
    .th-price {
      @include respond-to-tablet() {
        width: 130px;
      }
    }
  }
}
