.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.single-text-error,
.model-text-error {
  font-size: $font-size-xs;
  color: $color-red;
}

.model-text-error {
  margin-top: 5px;
}

.single-text-error {
  margin-bottom: 20px;
  text-align: center;
}


.icon-action {
  line-height: 1;
  appearance: none;
  padding: 0;
  border: 0;
  svg {
    color: $color-gray;
    stroke-width: 1.5px;
    width: 18px;
    height: 18px;
    margin-right: 5px;
    cursor: pointer;
    transition: all .2s ease-in-out;
    &:hover {
      color: $color-black;
      stroke-width: 2px;
    }
  }
}

.mb-10 {
  margin-bottom: 10px;
}

.hidden-pc {
  @include respond-to-pc() {
    display: none;
  }
}

.hidden-not-pc {
  @include respond-to-not-pc() {
    display: none;
  }
}

.hidden-sp {
  @include respond-to-sp() {
    display: none;
  }
}
