@mixin clearfix() {
  &:before,
  &:after {
    content: ' ';
    display: table;
  }
  &:after {
    clear: both;
  }
}

@mixin respond-to-pc() {
  @media (min-width: 1024px) {
    @content
  }
}

@mixin respond-to-not-pc() {
  @media (max-width: 1023px) {
    @content
  }
}

@mixin respond-to-tablet() {
  @media (min-width: 640px) {
    @content
  }
}

@mixin respond-to-sp() {
  @media (max-width: 639px) {
    @content
  }
}
