<footer>
  <div class="container">
    <ul>
      <li><a href="#">Giới thiệu</a></li>
      <li><a href="#">Liên hệ</a></li>
    </ul>
    <p>Copyright © 2017 timgialinhkien.com</p>
  </div>
</footer>
