<h2 class="title"><%= I18n.t('views.result_part_search', count: total, part: part) %></h2>

<div class="hardwares">
<% hardwares.each do |hardware| %>
<%= erb :'shared/hardware', locals: { hardware: hardware } %>
<% end %>
</div>

<% if next_info[:has_next] %>
<div class="block-view-more">
  <button class="btn btn-gray btn-block" data-json="<%= next_info.to_json %>" onclick="Buildcauhinh.loadMoreHardwares(this)"><%= I18n.t('views.view_more_btn') %></button>
</div>
<% end %>
