<header>
  <div class="container">
    <nav class="nav">
      <div class="nav-logo">
        <a href="/"><img src="/img/logo.png" alt="Logo cua timgialinhkien"></a>
      </div>
      <div class="nav-control">
        <div class="nav-control-item"><a href="#">Tham khảo cấu hình</a></div>
        <div class="nav-control-item"><a href="#">Cấu hình đang dựng</a></div>
        <div class="nav-control-item"><button type="button" class="btn btn-gray">Đăng nhập</button></div>
        <div class="nav-control-item"><button type="button" class="btn">Đăng kí</button></div>
      </div>
    </nav>
  </div>
</header>
