<h2 class="title"><%= I18n.t('views.result_search', count: hardwares.length) %></h2>
<div class="hardwares">
<% hardwares.each do |hardware| %>
<%= erb :'shared/hardware', locals: { hardware: hardware } %>
<% end %>
</div>
