{% extends 'layout/_simple.html' %}

{% block content %}
<main class="contents">
  <div class="form-wrapper">
    <h1 class="title text-center">Quên mật khẩu</h1>
    <form class="form" action="/forgot_pwd" method="POST">
      <div class="form-group">
        <label class="form-label" for="">Email</label>
        <input class="input form-input" type="email">
      </div>
      <div class="form-group">
        <label class="form-label"></label>
        <input class="btn" type="submit" value="Gửi">
      </div>
    </form>
  </div>
</main>
{% endblock %}
