{% extends 'layout/_main.html' %}

{% block content %}
<main class="contents">
  <div class="container">
    <div class="flexbox flexbox-main">
      <section class="main-content">
        <h2 class="title">Cấu hình mới ráp</h2>

        <div class="build-items">
          <div class="build-item media">
            <div class="media-left">
              <img src="/img/avatar.png">
            </div>
            <div class="media-body">
              <p><a class="media-username" href="#">wofiminh</a><span class="media-date"> ráp ngày 02/11/2017</time></p>
              <h3 class="build-title"><a href="#">Cấu hình intel 15tr chơi game</a></h3>
              <div class="build-status">
                <span class="build-label">Dưới 7tr</span>
                <span class="build-label">Intel</span>
              </div>
            </div>
          </div>

          <div class="build-item media">
            <div class="media-left">
              <img src="/img/avatar.png">
            </div>
            <div class="media-body">
              <p><a class="media-username" href="#">wofiminh</a><span class="media-date"> ráp ngày 02/11/2017</time></p>
              <h3 class="build-title"><a href="#">Cấu hình intel 15tr chơi game</a></h3>
              <div class="build-status">
                <span class="build-label">Dưới 7tr</span>
                <span class="build-label">Intel</span>
              </div>
            </div>
          </div>

          <div class="build-item media">
            <div class="media-left">
              <img src="/img/avatar.png">
            </div>
            <div class="media-body">
              <p><a class="media-username" href="#">wofiminh</a><span class="media-date"> ráp ngày 02/11/2017</time></p>
              <h3 class="build-title"><a href="#">Cấu hình intel 15tr chơi game</a></h3>
              <div class="build-status">
                <span class="build-label">Dưới 7tr</span>
                <span class="build-label">Intel</span>
              </div>
            </div>
          </div>
          <div class="build-item media">
            <div class="media-left">
              <img src="/img/avatar.png">
            </div>
            <div class="media-body">
              <p><a class="media-username" href="#">wofiminh</a><span class="media-date"> ráp ngày 02/11/2017</time></p>
              <h3 class="build-title"><a href="#">Cấu hình intel 15tr chơi game</a></h3>
              <div class="build-status">
                <span class="build-label">Dưới 7tr</span>
                <span class="build-label">Intel</span>
              </div>
            </div>
          </div>
          <div class="build-item media">
            <div class="media-left">
              <img src="/img/avatar.png">
            </div>
            <div class="media-body">
              <p><a class="media-username" href="#">wofiminh</a><span class="media-date"> ráp ngày 02/11/2017</time></p>
              <h3 class="build-title"><a href="#">Cấu hình intel 15tr chơi game</a></h3>
              <div class="build-status">
                <span class="build-label">Dưới 7tr</span>
                <span class="build-label">Intel</span>
              </div>
            </div>
          </div>
          <div class="build-item media">
            <div class="media-left">
              <img src="/img/avatar.png">
            </div>
            <div class="media-body">
              <p><a class="media-username" href="#">wofiminh</a><span class="media-date"> ráp ngày 02/11/2017</time></p>
              <h3 class="build-title"><a href="#">Cấu hình intel 15tr chơi game</a></h3>
              <div class="build-status">
                <span class="build-label">Dưới 7tr</span>
                <span class="build-label">Intel</span>
              </div>
            </div>
          </div>
          <div class="build-item media">
            <div class="media-left">
              <img src="/img/avatar.png">
            </div>
            <div class="media-body">
              <p><a class="media-username" href="#">wofiminh</a><span class="media-date"> ráp ngày 02/11/2017</time></p>
              <h3 class="build-title"><a href="#">Cấu hình intel 15tr chơi game</a></h3>
              <div class="build-status">
                <span class="build-label">Dưới 7tr</span>
                <span class="build-label">Intel</span>
              </div>
            </div>
          </div>
          <div class="build-item media">
            <div class="media-left">
              <img src="/img/avatar.png">
            </div>
            <div class="media-body">
              <p><a class="media-username" href="#">wofiminh</a><span class="media-date"> ráp ngày 02/11/2017</time></p>
              <h3 class="build-title"><a href="#">Cấu hình intel 15tr chơi game</a></h3>
              <div class="build-status">
                <span class="build-label">Dưới 7tr</span>
                <span class="build-label">Intel</span>
              </div>
            </div>
          </div>
          <div class="build-item media">
            <div class="media-left">
              <img src="/img/avatar.png">
            </div>
            <div class="media-body">
              <p><a class="media-username" href="#">wofiminh</a><span class="media-date"> ráp ngày 02/11/2017</time></p>
              <h3 class="build-title"><a href="#">Cấu hình intel 15tr chơi game</a></h3>
              <div class="build-status">
                <span class="build-label">Dưới 7tr</span>
                <span class="build-label">Intel</span>
              </div>
            </div>
          </div>
          <div class="build-item media">
            <div class="media-left">
              <img src="/img/avatar.png">
            </div>
            <div class="media-body">
              <p><a class="media-username" href="#">wofiminh</a><span class="media-date"> ráp ngày 02/11/2017</time></p>
              <h3 class="build-title"><a href="#">Cấu hình intel 15tr chơi game</a></h3>
              <div class="build-status">
                <span class="build-label">Dưới 7tr</span>
                <span class="build-label">Intel</span>
              </div>
            </div>
          </div>
        </div>
      </section>

      <aside class="sidebar">
        <div class="user-profile">
          <img class="user-avatar" src="/img/avatar.png" alt="Ảnh đại diện của wofiminh">
          <h1 class="user-name sub-title">wofiminh</h1>
          <p class="user-about">Nhân viên bán hàng của Tân Doanh</p>
        </div>
      </aside>
    </div>
  </div>
</main>
{% endblock %}
