.container {
  @include clearfix();
  position: relative;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  @include respond-to-pc() {
    width: $container-width;
  }
}

.contents {
  margin-top: 40px;
  @include respond-to-sp() {
    margin-top: 20px;
  }
}

.main-content {
  position: relative;
  width: 75%;
  flex: none;
  padding: 0 15px;
  @include respond-to-sp() {
    width: 100%;
    order: 2;
  }
}

.sidebar {
  width: 25%;
  flex: none;
  padding: 0 15px;
  @include respond-to-sp() {
    width: 100%;
    order: 1;
    margin-bottom: 20px;
  }
}

.flexbox {
  display: flex;
  margin: 0 -15px;

  .flexbox {
    margin: auto;
  }

  &.flexbox-sidebar {
    @include respond-to-tablet() {
      flex-direction: column;
    }
  }
  &.flexbox-main {
    @include respond-to-sp() {
      flex-direction: column;
    }
  }
}

.box {
  height: 100%;
  background-color: $color-white;
  border-radius: 4px;
  padding: 15px;
}
