<main class="contents">
  <div class="container">
    <h1 class="title text-center">404 không tìm thấy trang</h1>
    <p class="text-center">
      Địa chỉ truy cập không tồn tại
    </p>
  </div>
</main>
