{% extends 'layout/_main.html' %}

{% block content %}
<main class="contents">
  <div class="container">
    <div class="flexbox flexbox-main">
      <section class="main-content">
        <h1 class="title">Cấu hình</h1>

        <div class="build-items">
          <div class="build-item media">
            <div class="media-left">
              <img src="/img/avatar.png">
            </div>
            <div class="media-body">
              <p><a class="media-username" href="#">wofiminh</a><span class="media-date"> ráp ngày 02/11/2017</time></p>
              <h3 class="build-title"><a href="#">Cấu hình intel 15tr chơi game</a></h3>
              <div class="build-status">
                <span class="build-label">Dưới 7tr</span>
                <span class="build-label">Intel</span>
              </div>
            </div>
          </div>

          <div class="build-item media">
            <div class="media-left">
              <img src="/img/avatar.png">
            </div>
            <div class="media-body">
              <p><a class="media-username" href="#">wofiminh</a><span class="media-date"> ráp ngày 02/11/2017</time></p>
              <h3 class="build-title"><a href="#">Cấu hình intel 15tr chơi game</a></h3>
              <div class="build-status">
                <span class="build-label">Dưới 7tr</span>
                <span class="build-label">Intel</span>
              </div>
            </div>
          </div>

          <div class="build-item media">
            <div class="media-left">
              <img src="/img/avatar.png">
            </div>
            <div class="media-body">
              <p><a class="media-username" href="#">wofiminh</a><span class="media-date"> ráp ngày 02/11/2017</time></p>
              <h3 class="build-title"><a href="#">Cấu hình intel 15tr chơi game</a></h3>
              <div class="build-status">
                <span class="build-label">Dưới 7tr</span>
                <span class="build-label">Intel</span>
              </div>
            </div>
          </div>
          <div class="build-item media">
            <div class="media-left">
              <img src="/img/avatar.png">
            </div>
            <div class="media-body">
              <p><a class="media-username" href="#">wofiminh</a><span class="media-date"> ráp ngày 02/11/2017</time></p>
              <h3 class="build-title"><a href="#">Cấu hình intel 15tr chơi game</a></h3>
              <div class="build-status">
                <span class="build-label">Dưới 7tr</span>
                <span class="build-label">Intel</span>
              </div>
            </div>
          </div>
          <div class="build-item media">
            <div class="media-left">
              <img src="/img/avatar.png">
            </div>
            <div class="media-body">
              <p><a class="media-username" href="#">wofiminh</a><span class="media-date"> ráp ngày 02/11/2017</time></p>
              <h3 class="build-title"><a href="#">Cấu hình intel 15tr chơi game</a></h3>
              <div class="build-status">
                <span class="build-label">Dưới 7tr</span>
                <span class="build-label">Intel</span>
              </div>
            </div>
          </div>
          <div class="build-item media">
            <div class="media-left">
              <img src="/img/avatar.png">
            </div>
            <div class="media-body">
              <p><a class="media-username" href="#">wofiminh</a><span class="media-date"> ráp ngày 02/11/2017</time></p>
              <h3 class="build-title"><a href="#">Cấu hình intel 15tr chơi game</a></h3>
              <div class="build-status">
                <span class="build-label">Dưới 7tr</span>
                <span class="build-label">Intel</span>
              </div>
            </div>
          </div>
          <div class="build-item media">
            <div class="media-left">
              <img src="/img/avatar.png">
            </div>
            <div class="media-body">
              <p><a class="media-username" href="#">wofiminh</a><span class="media-date"> ráp ngày 02/11/2017</time></p>
              <h3 class="build-title"><a href="#">Cấu hình intel 15tr chơi game</a></h3>
              <div class="build-status">
                <span class="build-label">Dưới 7tr</span>
                <span class="build-label">Intel</span>
              </div>
            </div>
          </div>
          <div class="build-item media">
            <div class="media-left">
              <img src="/img/avatar.png">
            </div>
            <div class="media-body">
              <p><a class="media-username" href="#">wofiminh</a><span class="media-date"> ráp ngày 02/11/2017</time></p>
              <h3 class="build-title"><a href="#">Cấu hình intel 15tr chơi game</a></h3>
              <div class="build-status">
                <span class="build-label">Dưới 7tr</span>
                <span class="build-label">Intel</span>
              </div>
            </div>
          </div>
          <div class="build-item media">
            <div class="media-left">
              <img src="/img/avatar.png">
            </div>
            <div class="media-body">
              <p><a class="media-username" href="#">wofiminh</a><span class="media-date"> ráp ngày 02/11/2017</time></p>
              <h3 class="build-title"><a href="#">Cấu hình intel 15tr chơi game</a></h3>
              <div class="build-status">
                <span class="build-label">Dưới 7tr</span>
                <span class="build-label">Intel</span>
              </div>
            </div>
          </div>
          <div class="build-item media">
            <div class="media-left">
              <img src="/img/avatar.png">
            </div>
            <div class="media-body">
              <p><a class="media-username" href="#">wofiminh</a><span class="media-date"> ráp ngày 02/11/2017</time></p>
              <h3 class="build-title"><a href="#">Cấu hình intel 15tr chơi game</a></h3>
              <div class="build-status">
                <span class="build-label">Dưới 7tr</span>
                <span class="build-label">Intel</span>
              </div>
            </div>
          </div>
        </div>
      </section>

      <aside class="sidebar">
        <h2 class="title">Lọc</h2>

        <div class="flexbox flexbox-sidebar">
          <div class="build-options">
            <h3 class="sub-title">Giá</h3>
            <ul>
              <li><input type="checkbox"><label for="">Dưới 7tr</label></li>
              <li><input type="checkbox"><label for="">7tr - 12tr</label></li>
              <li><input type="checkbox"><label for="">13tr - 20tr</label></li>
              <li><input type="checkbox"><label for="">Trên 20tr</label></li>
            </ul>
          </div>

          <div class="build-options">
            <h3 class="sub-title">CPU</h3>
            <ul>
              <li><input type="radio"><label for="">Intel</label></li>
              <li><input type="radio"><label for="">AMD</label></li>
              <li><input type="radio"><label for="">Gì cũng được</label></li>
            </ul>
          </div>
        </div>
      </aside>
    </div>
  </div>
</main>
{% endblock %}
