<div role="main">
  <section class="banner">
    <div class="container">
      <div class="banner-img" style="background-image: url(/img/motherboard.png)"></div>
      <h1>Tìm giá linh kiện đơn giản nhanh chóng</h1>
    </div>
  </section>
  <section class="contents">
    <div class="container">
      <div class="search-hardwares">
        <input type="text" class="input input-search" placeholder="Nhập tên linh kiện">
        <button type="button" class="btn">Tìm</button>
      </div>
      <div class="hardware-wrapper">
        <div class="hardware-list">
          <h2 class="title">Tìm kiếm gần đây</h2>
          <div class="hardware-item">
            <img class="hardware-img" src="/img/intel_g4600.jpg" alt="">
            <div class="hardware-body">
              <h3 class="hardware-name"><a href="#"><span class="hardware-provider">Mai Hoàng</span>Intel G4600 Kabylake</a></h3>
              <p><span class="hardware-price">1.600.000 VND</span></p>
            </div>
            <div class="hardware-btn">
              <button type="button" class="btn btn-gray">Chọn</button>
            </div>
          </div>
          <div class="hardware-item">
            <img class="hardware-img" src="/img/intel_g4600.jpg" alt="">
            <div class="hardware-body">
              <h3 class="hardware-name"><a href="#"><span class="hardware-provider">Mai Hoàng</span>Intel G4600 Kabylake</a></h3>
              <p><span class="hardware-price">1.600.000 VND</span></p>
            </div>
            <div class="hardware-btn">
              <button type="button" class="btn btn-gray">Chọn</button>
            </div>
          </div>
          <div class="hardware-item">
            <img class="hardware-img" src="/img/intel_g4600.jpg" alt="">
            <div class="hardware-body">
              <h3 class="hardware-name"><span class="hardware-provider">Mai Hoàng</span>Intel G4600 Kabylake</h3>
              <p><span class="hardware-price">1.600.000 VND</span></p>
            </div>
            <div class="hardware-btn">
              <button type="button" class="btn btn-gray">Chọn</button>
            </div>
          </div>
          <div class="hardware-item">
            <img class="hardware-img" src="/img/intel_g4600.jpg" alt="">
            <div class="hardware-body">
              <h3 class="hardware-name"><span class="hardware-provider">Mai Hoàng</span>Intel G4600 Kabylake</h3>
              <p><span class="hardware-price">1.600.000 VND</span></p>
            </div>
            <div class="hardware-btn">
              <button type="button" class="btn btn-gray">Chọn</button>
            </div>
          </div>
          <div class="hardware-item">
            <img class="hardware-img" src="/img/intel_g4600.jpg" alt="">
            <div class="hardware-body">
              <h3 class="hardware-name"><span class="hardware-provider">Mai Hoàng</span>Intel G4600 Kabylake</h3>
              <p><span class="hardware-price">1.600.000 VND</span></p>
            </div>
            <div class="hardware-btn">
              <button type="button" class="btn btn-gray">Chọn</button>
            </div>
          </div>
          <div class="hardware-item">
            <img class="hardware-img" src="/img/intel_g4600.jpg" alt="">
            <div class="hardware-body">
              <h3 class="hardware-name"><span class="hardware-provider">Mai Hoàng</span>Intel G4600 Kabylake</h3>
              <p><span class="hardware-price">1.600.000 VND</span></p>
            </div>
            <div class="hardware-btn">
              <button type="button" class="btn btn-gray">Chọn</button>
            </div>
          </div>
          <div class="hardware-item">
            <img class="hardware-img" src="/img/intel_g4600.jpg" alt="">
            <div class="hardware-body">
              <h3 class="hardware-name"><span class="hardware-provider">Mai Hoàng</span>Intel G4600 Kabylake</h3>
              <p><span class="hardware-price">1.600.000 VND</span></p>
            </div>
            <div class="hardware-btn">
              <button type="button" class="btn btn-gray">Chọn</button>
            </div>
          </div>
          <div class="hardware-item">
            <img class="hardware-img" src="/img/intel_g4600.jpg" alt="">
            <div class="hardware-body">
              <h3 class="hardware-name"><span class="hardware-provider">Mai Hoàng</span>Intel G4600 Kabylake</h3>
              <p><span class="hardware-price">1.600.000 VND</span></p>
            </div>
            <div class="hardware-btn">
              <button type="button" class="btn btn-gray">Chọn</button>
            </div>
          </div>
          <div class="hardware-item">
            <img class="hardware-img" src="/img/intel_g4600.jpg" alt="">
            <div class="hardware-body">
              <h3 class="hardware-name"><span class="hardware-provider">Mai Hoàng</span>Intel G4600 Kabylake</h3>
              <p><span class="hardware-price">1.600.000 VND</span></p>
            </div>
            <div class="hardware-btn">
              <button type="button" class="btn btn-gray">Chọn</button>
            </div>
          </div>
          <div class="hardware-item">
            <img class="hardware-img" src="/img/intel_g4600.jpg" alt="">
            <div class="hardware-body">
              <h3 class="hardware-name"><span class="hardware-provider">Mai Hoàng</span>Intel G4600 Kabylake</h3>
              <p><span class="hardware-price">1.600.000 VND</span></p>
            </div>
            <div class="hardware-btn">
              <button type="button" class="btn btn-gray">Chọn</button>
            </div>
          </div>
        </div>
      </div>

      <div class="builds">
        <h2 class="title">Cấu hình mới dựng</h2>
        <ul>
          <li><a href="#">Cấu hình intel 7tr</a></li>
          <li><a href="#">Cấu hình amd 10tr</a></li>
          <li><a href="#">Dàn máy 10tr chơi game</a></li>
          <li><a href="#">Dàn máy 20tr làm đồ hoạ</a></li>
          <li><a href="#">Hàng khủng 30tr max options</a></li>
        </ul>
      </div>
    </div>
  </section>
</div>
